NUXT_PUBLIC_BASE_URL="http://localhost:3000"
NUXT_GOOGLE_CLIENT_ID=""
NUXT_GOOGLE_CLIENT_SECRET=""
NUXT_RESEND_API_KEY=""
NUXT_OPENAI_API_KEY=""
NUXT_TASK_API_KEY=""
NUXT_AUTH_SECRET=""
NUXT_SYNC_URL="http://localhost:8787"
NUXT_PUBLIC_SYNC_URL="http://localhost:8787"
NUXT_SYNC_SECRET=""
NUXT_PUBLIC_ONESIGNAL_APP_ID=""
NUXT_PUBLIC_ONESIGNAL_SAFARI_WEB_ID=""
NUXT_PUBLIC_ONESIGNAL_URL=""
NUXT_ONESIGNAL_API_KEY=""
